{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NqkoiOne | Anonymous Chat</title>
    <meta name="description" content="NqkoiOne - Anonymous Chat">
    <meta property="og:description" content="NqkoiOne - Anonymous Chat">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'chat/css/index.css' %}">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>

<main>

    <div id="chat-container">
        <form id="chat-form">
            <div class="button-group" id="my_gender">
                <label>{% trans 'Your gender:' %}</label>
                <button type="button" class="gender-btn"
                        onclick="selectGender('my_gender', 'male')">{% trans 'Male' %}</button>
                <button type="button" class="gender-btn"
                        onclick="selectGender('my_gender', 'female')">{% trans 'Female' %}</button>
                <button type="button" class="gender-btn active"
                        onclick="selectGender('my_gender', 'not-specified')">{% trans 'Nqkoi' %}
                </button>
            </div>

            <div class="button-group" id="search_gender">
                <label>{% trans "Partner gender" %}</label>
                <button type="button" class="gender-btn" onclick="selectGender('search_gender', 'male')"
                        disabled>{% trans 'Male' %}
                </button>
                <button type="button" class="gender-btn" onclick="selectGender('search_gender', 'female')"
                        disabled>{% trans 'Female' %}
                </button>
                <button type="button" class="gender-btn" onclick="selectGender('search_gender', 'not-specified')"
                        disabled>
                    {% trans 'Nqkoi' %}
                </button>
            </div>

            <div class="button-group" id="chat-topic">
                <label>{% trans 'Topic:' %}</label>
                <button type="button" class="topic-btn active" onclick="selectTopic('chat')">{% trans 'Chat' %}</button>
                <button type="button" class="topic-btn" onclick="selectTopic('flirt')">{% trans 'Flirt' %} 18+</button>
            </div>
            <div class="start-chat-btn-div">
                <button type="button" id="start-chat-button"
                        onclick="this.disabled = true; onNewChat()">{% trans 'Start chat' %}</button>
            </div>

            {% csrf_token %}
        </form>
    </div>

    <div class="chats-online">
        {% trans 'Chats online: ' %}
        <span hx-get="{% url 'get_users_in_chat' %}" hx-trigger="every 5s" hx-target="this"
              style="padding-left: 5px">{{ users_in_chat }}</span><br>
    </div>

</main>

<script src="{% static 'chat/js/script.js' %}"></script>
<script>

    const csrftoken = getCookie('csrftoken');

    let selectedGenders = {
        'my_gender': 'not-specified',
        'search_gender': 'not-specified'
    };
    let selectedTopic = 'chat';

    function selectGender(group, gender) {
        selectedGenders[group] = gender;
        document.querySelectorAll('#' + group + ' .gender-btn').forEach(btn => {
            btn.classList.remove('active');
        });
        event.target.classList.add('active');
        updatePartnerGenderSelection();
    }

    function selectTopic(topic) {
        selectedTopic = topic;
        document.querySelectorAll('#chat-topic .topic-btn').forEach(btn => {
            btn.classList.remove('active');
        });
        event.target.classList.add('active');
    }

    function updatePartnerGenderSelection() {
        const partnerGenderButtons = document.querySelectorAll('#search_gender .gender-btn');
        if (selectedGenders['my_gender'] === 'not-specified') {
            partnerGenderButtons.forEach(btn => {
                btn.disabled = true;
                btn.classList.remove('active');
            });
        } else {
            partnerGenderButtons.forEach(btn => btn.disabled = false);
        }
    }

    function onNewChat() {
        startNewChat(selectedGenders['my_gender'], selectedGenders['search_gender'], selectedTopic);
    }


    document.addEventListener('DOMContentLoaded', updatePartnerGenderSelection);
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
