{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" href="{% static 'chat/room.css' %}">
</head>
<body>
<div id="chat-container">

    <div id="message-container">
        
    </div>
    
    
    
    <div id="input-container">
        <input type="text" id="message-input" placeholder="Въведете съобщение...">
        <button id="send-button">Изпрати</button>
    </div>
    
</div>

<div id="waiting-message" style="display:none;">
    Търсим свободен събеседник...
</div>

<div id="loader" style="display: none;">Загрузка...</div>

<button id="end-chat-btn" onclick="endChat()">Приключи чата</button>
<button id="change-settings-btn" onclick="changeSettings()" style="display:none;">Промени филтрите</button>
<button id="start-new-chat-btn" onclick="startNewChat()" style="display:none;">Нов чат</button>
{% csrf_token %}

<script> // CSRFTOKEN
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

// LOGIC
let chatActive = false;

chatActive.onchange = function () {
    if (chatActive) {
        document.getElementById('end-chat-btn').style.display = 'block';
    } else {
    }
}


function endChat() {
    addChatEndedBanner();
    chatActive = false;
    document.getElementById('end-chat-btn').style.display = 'none';
    document.getElementById('change-settings-btn').style.display = 'block';
    document.getElementById('start-new-chat-btn').style.display = 'block';

    fetch('/api/end_chat/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken, 'Content-Type': 'application/json',
        },
        body: JSON.stringify({room_id: '{{room_id}}'})
    }).then(response => {
        console.log('Chat ended')
    }).catch(error => console.error('Chat end error: ', error));
    sendEndChatSignal();
    
}

function changeSettings() {
    window.location.href = '/chat';
}

function startNewChat() {
    window.location.href = '/start_chat';
}

// SOCKET

const roomContainer = document.getElementById('message-container');
const inputElement = document.getElementById('message-input');
const sendMessageButton = document.getElementById('send-button');

let socket;
let attemptCount = 0;
const maxAttempts = 5;

function connect() {
    socket = new WebSocket('ws://localhost:8000/ws/chat/{{room_id}}/');

    socket.onopen = function (e) {
        hideLoader();

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.type === 'end_chat') {
                console.log(data.message);
                addChatEndedBanner();
                chatActive = false;
                {#alert('CHAT ENDED');#}
                
                return;
            } else if (data.type === 'second_user_joined') {
                onSecondUserJoined();
                displayMessage(data);
                chatActive = true;

            } else if (data.type === 'reconnect') {
                updateWaitingStatus(false);
                chatActive = true;
            } else {
                displayMessage(data);
            }
            console.log('DATA')
            console.log(data)

        };

        socket.onclose = function (e) {
            if (!event.wasClean && attemptCount < maxAttempts) {
                showLoader('Загуба на връзка. Възстановяване...');
                reconnect();
            }
            console.error('Chat socket closed unexpectedly');
        };

        socket.onerror = function (error) {
            alert('Възникна грешка. Чат не може да се продължи.');
        };
    };
}

function sendEndChatSignal() {
    chatActive = false;
    const message = {
        action: 'end_chat',
        room_id: '{{ room_id }}',
        session_id: '{{session_key}}',
    };
    socket.send(JSON.stringify(message));

}

function onSecondUserJoined() {
    updateWaitingStatus(false);
}

function updateWaitingStatus(isWaiting) {
    const waitingMessage = document.getElementById('waiting-message');
    if (isWaiting) {
        waitingMessage.style.display = 'block';
    } else {
        waitingMessage.style.display = 'none';
    }
}

window.onload = function () {
    connect();
};

function reconnect() {
    attemptCount++;
    setTimeout(function () {
        connect();
    }, 3000);
}

function showLoader(message) {
    const loader = document.getElementById('loader');
    loader.textContent = message;
    loader.style.display = 'block';
}

function hideLoader() {
    const loader = document.getElementById('loader');
    loader.style.display = 'none';
}


function isMyMessage(sessionId) {
    return '{{session_key}}' === sessionId;
}

sendMessageButton.onclick = function (e) {
    if (chatActive) {
        const message = inputElement.value;
        socket.send(JSON.stringify({
            'message': message,
            'room_id': '{{ room_id }}',
            'session_id': '{{session_key}}'
        }));
        inputElement.value = '';
        roomContainer.scrollTop = roomContainer.scrollHeight;
    }

};

inputElement.onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
        sendMessageButton.click();
    }
};

function displayMessage(data) {
    const messageElement = document.createElement('div');
    messageElement.classList.add('message');

    if (isMyMessage(data.session_id)) {
        messageElement.classList.add('mine');
    } else {
        messageElement.classList.add('theirs');
    }

    messageElement.textContent = data.message;
    roomContainer.appendChild(messageElement);

    roomContainer.scrollTop = roomContainer.scrollHeight;
}

function loadMessages() {
    fetch(`/chat/get_messages/{{room_id}}/`, {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken}
    })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                displayMessages(data.messages);
                if (data.second_user_joined) {
                    updateWaitingStatus(false);
                } else {
                    updateWaitingStatus(true);
                }
            } else {
                console.error('Error while loading messages:', data.message);
            }
        });
}

function displayMessages(messages) {
    const messageContainer = document.getElementById('message-container');
    {#messageContainer.innerHTML = '';#}

    messages.forEach(msg => {
        const messageElement = document.createElement('div');
        messageElement.classList.add('message');
        messageElement.textContent = msg.content;

        if (isMyMessage(msg.session_id)) {
            messageElement.classList.add('mine');
        } else {
            messageElement.classList.add('theirs');
        }

        messageContainer.appendChild(messageElement);
    });
    roomContainer.scrollTop = roomContainer.scrollHeight;
}

function addChatEndedBanner() {
    if (!chatActive) {
        return;
    }
    const chatContainer = document.getElementById('message-container');
    const bannerHtml = `
        <div class="chat-end-status">
    <div class="chat-end-message">Чатът е завършен.</div>
    <div class="chat-end-complaint">Flag user</div>
    <div class="chat-end-buttons">
        <button class="chat-end-button modify-params" onclick="changeSettings()">Промяна на филтри</button>
        <button class="chat-end-button start-new" onclick="startNewChat()">Нов чат</button>
    </div>
</div>
    `;

    chatContainer.insertAdjacentHTML('afterend', bannerHtml);
}


document.addEventListener('DOMContentLoaded', loadMessages);
</script>

</body>
</html>
